.title, .content{
    font-family: Open Sans;
    color: black;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 33px;
    font-weight: 700;
    margin-top: 40px;
}

.content{
    margin: 20px 5% 40px 5%;
    font-size: 18px;
    line-height: 1.2;
}